<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Search</h1>
<div class="topnav">
    <a href="../js/views/UserLogin.html" class="button"><i class="fa fa-sign-in"> Login </i></a>
    <a href="../js/views/UserSignUp.html" class="button"><i class="fa fa-user-plus"> Sign up </i></a>
    <a href="../js/views/UserWeather.html" class="button"><i class="fa fa-sun-o"> Weather</i></a>
    <a href="../js/views/UserLocation.html" class="button"><i class="fa fa-map-marker"> Locations </i></a>
    <a href="../js/views/UserAccount.html" class="button"><i class="fa fa-user-o"> My page</i></a>
    <a href="../js/views/search.html" class="button"><i class="fa fa-search"> Search </i></a>
</div>
<div class="banner-info" align="center" >


    <label>
        <span><input id="inputFirstName" type="text"  style="width:200px; height:20px;" class="text-center" required="" placeholder="Enter First Name"></span><br>

        <span><input id="inputLastName" type="text" style="width:200px; height:20px;" class="text-center" required="" placeholder="Enter LastName"></span><br>

        <span><input id="inputCityName" type="text" style="width:200px; height:20px;" class="text-center" required="" placeholder="Enter City"></span><br>

        <span><input id="ZipCode<" type="text" style="width:200px; height:20px;" class="text-center" required="" placeholder="Zip Code"></span><br>

        <span><input id="Temperature" type="text" style="width:200px; height:20px;" class="text-center" required="" placeholder="Temperature"></span><br>

        <span><input id="Climate" type="text" style="width:200px; height:20px;" class="text-center" required="" placeholder="Climate"></span><br>
        <span><label>isGuide</label></span>
        <input type="radio" name="choice-radio">
        Yes
        <input type="radio" name="choice-radio">
        No
    </label>
</div>
<div align="center">
    <input type="button" onclick="location.href ='search.html'" value="search" >
</div>
</body>
</html>