<!DOCTYPE html>

<!-- THIS PAGE JUST RETRIEVES INFO FROM DB,
 SO IT'S JUST HERE...READ -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='../css/sign.css'>
</head>
<h1>Log In</h1>
<body>

<div class="topnav">
    <a href="../js/views/index.html">Homepage</a>
    <a href="../js/views/UserSignUp.html">Sign Up</a>
    <a href=../js/views/UserLogin.html>Sign In</a>
    <a href="../js/views/UserWeather.html">Weather</a>
    <a href="../js/views/UserLocation.html">location</a>
    <a href="../js/views/UserAccount.html">My page</a>
    <a href="../js/views/search.html">search</a>
</div>
    <div class="container"></div>
    <div class="row"></div>
    <form>
        <fieldset>
            <legend>First Name</legend>
            <input type="text" class="form-control" name="" id="first-name">
            <legend>Last Name</legend>
            <input type="text" class="form-control" name="" id="last-name">
            <legend>Password </legend>
            <input type="text" class="form-control" name="" id="password">
            <button type="submit" id="SignUp" class="sign-up">login</button>
            <div class="psw">Forgot <a href="#">password?</a></div>
        </fieldset>
    </form>
    <script type="javascript" src="../js/dbcon.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
