<!DOCTYPE html>

<!-- DISPLAYS THE USER'S PAST AND CURRENT WEATHER.
A SUBPAGE OF USER: User/UserWeather -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/sign.css">
  <title>Title</title>
</head>

<body>
        <h1>Weather</h1>
            <div class="topnav">
                <a href="../js/views/UserLogin.html" class="button"><i class="fa fa-sign-in"> Login </i></a>
                <a href="../js/views/UserSignUp.html" class="button"><i class="fa fa-user-plus"> Sign up </i></a>
                <a href="../js/views/UserWeather.html" class="button"><i class="fa fa-sun-o"> Weather</i></a>
                <a href="../js/views/UserLocation.html" class="button"><i class="fa fa-map-marker"> Locations </i></a>
                <a href="../js/views/UserAccount.html" class="button"><i class="fa fa-user-o"> My page</i></a>
                <a href="../js/views/search.html" class="button"><i class="fa fa-search"> Search </i></a>
            <br>
            </div>
        <div>
            <P> User Name: Arnold Scribbler</P>
            <p> City name: Corvallis </p>
            <p> Temperature: 8 ℃ / 45 F </p>
            <p> Climate: Weather Highlights</p>
<!--            <h1>     Summer High: the July high is around 82 degrees</h1>-->
<!--            <h1>     Winter Low: the January low is 34</h1>-->
<!--            <h1>     Rain: averages 51 inches of rain a year</h1>-->
<!--            <h1>     Snow: averages 5 inches of snow a year</h1>-->

        </div>


        <div class="Edit">
            <a href="EditWeatherT.html">Add delete or update Table</a><br>
            <br>
        </div>
        <table style="width:100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>City name</th>
                <th>Temperature</th>
                <th>Climate</th>
                <th>isGuide</th>
            </tr>
            <tr>
                <td>Arnold</td>
                <td>Scribbler</td>
                <td>Corvallis</td>
                <td>45</td>
                <td>Highlights</td>
                <td>yes</td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>Corvallis</td>
                <td>54</td>
                <td>Highlights</td>
                <td>yes</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>no</td>
            </tr>
        </table>


</body>
